<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div th:replace="~{fragments/head :: headFragment('Groups')}"></div>
<body>
<div th:replace="~{fragments/header-search :: headerWithSearch('course')}"></div>
<main class="py-4 px-4">
    <h1>Groups</h1>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Students</th>
                <th>Courses</th>
                <div th:replace="~{fragments/actions :: actions}"></div>
            </tr>
        </thead>
        <tbody>
        <tr th:each="group : ${groups}">
            <td th:text="${group.id}"></td>
            <td th:text="${group.groupName}"></td>
            <td>
                <span th:each="student : ${group.students}" th:text="${student.firstName} + ' '"></span>
            </td>
            <td>
                <span th:each="course : ${group.courses}" th:text="${course.courseName} + ' '"></span>
            </td>
            <div th:replace="~{fragments/action-buttons :: actionButtons(${group.id}, 'group')}"></div>
        </tr>
        </tbody>
    </table>
    <a sec:authorize="hasAnyRole('ADMIN', 'STAFF')" th:href="@{groups/new-group}" class="btn btn-success">Add New Group</a>
</main>
</body>
</html>